<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav>
    <h1><a href="/">FASHION</a></h1>
    <ul>
      {{#if user}}
      <li >Welcome, <span style="font-weight: bold; color: brown;">{{user}}</span></li>
      <li><a href="/logout">Đăng xuất</a></li>
      {{else}}
      
      <li><a href="/api/signin">Đăng nhập</a></li>
      <li><a href="/api/signup" class="btn">Đăng ký</a></li>
      {{/if}}


    </ul>
  </nav>