<div class="container-fluid">
    <a href="/quanao" class="btn btn-danger m-3">Back</a>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 ">
            <form>
                <div class="mb-3 form-group">
                    <label for="tenquanao" class="fw-bold">Tên Quần Áo</label>
                    <input type="text" class="form-control" name="tenquanao" id="tenquanao" required>
                </div>
                <div class="mb-3 form-group">
                    <label for="soluong" class="fw-bold">Số Lượng</label>
                    <input type="text" class="form-control" name="soluong" id="soluong" required>
                </div>
                <div class="mb-3 form-group" >
                    <label for="price" class="fw-bold">Giá</label>
                    <input type="number" class="form-control" name="price" id="price" required>
                </div>
                <div class="mb-3 form-group">
                    <label for="image" class="fw-bold">Link Hình Ảnh</label>
                    <input type="text" class="form-control" name="image" id="image" required>
                </div>
                <button class="btn btn-info w-100" onclick="Save(event)">Thêm</button>
            </form>
        </div>
    </div>
</div>


<script>
    function Save(event) {
    event.preventDefault();
    const tenquanao = document.getElementById("tenquanao").value;
    const soluong = document.getElementById('soluong').value;
    const price = document.getElementById('price').value;
    const image = document.getElementById('image').value;
    const newquanao = { tenquanao, soluong, price, image };
    const token = '{{token}}';
    fetch('/api/quanao', {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Authorization": `jwt ${token}`
        },
        body: JSON.stringify(newquanao)
    })
        .then(response => {
            if (response.ok) {
                console.log("quanao added successfully!");
                location.href = "http://localhost:3000/quanao";
            } else {
                console.error("Error adding quanao.");
            }
        })
        .catch(err => console.error(err));
}


</script>