{{> header}}
<header>
   
    <div class="headings">

        <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
        <div class="btn_banner">
            <a href="/quanao" class="btn">Chi tiết</a>
            <a href="/profile" class="btn">Quản lý thông tin cá nhân</a>
        </div>

    </div>
</header>